.telalogin{
  border-radius: 10%;
  text-align: center;
  background-color: #4E5E96;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 60px;
  color: white;
}

input{
  padding: 10px;
  outline: none;
  font-size: 15px;
}

button{
  background-color: #2c3e50;
  padding: 10px;
  border: none;
  width: 100%;
  color: white;
  cursor: pointer;
  font-size:  15px;

}

