body{
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4E5E96;
    padding: 10px;
    border-radius: 3%;
    color: white;
}

fieldset{
    border: 3px solid white
}

legend{
    border:  1px white;
    padding: 10px;
    text-align: center;
}

.inputBox{
    position: relative;
}

.userinput{
    background: none;
    border: none;
    border-bottom: solid white;
    outline: none;
    color: white;
    font-size: 10px;
    width: 100%;
}

.labelinput{
    position: absolute;
    pointer-events: none;
    top: 0px;
    transition: .5s;
}

.userinput:focus ~ .labelinput,
.userinput:valid ~ .labelinput{
    top: -20px;
    font-size: 10px;
    color: white ;
}

#submit{
    background-color: #2c3e50;
    width: 100%;
    border-style: solid;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    padding: 10px;
}